*#
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
*.swp
.idea/
/project/plugins/project
project/boot
build/
/logs
.cache
.classpath
.project
.settings
/build
.gradle
/captures
/local.properties
/.idea/workspace.xml
/.idea/libraries